<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <title>Home</title>
</head>

<body>
    <header>
        <%- include ('navbar') %>
    </header>
    
    <main>
        <div class="text-center"><h2 class="display-2"> 
            <p class="text-center"><div class="badge bg-primary text-wrap" style="width: 40rem;">Registro de Estações</div></p>
        </h2></div>
        <form action="/result" method="get">

            <div class="d-flex align-items-center justify-content-center vh-20">
                <div class="form-floating mb-3 w-50">
                  <input type="text" class="form-control" id="nome" placeholder="nome">
                  <label for="nome">Nome: </label>
                </div>
            </div>
   
            <div class="text-center"><label for="LinhaPertence">Linha que Pertence:</label></div>
            <div class="d-flex align-items-center justify-content-center vh-20"> 
                <select class="form-select w-50" name="LinhaPertence" id="LinhaPertence">
                    <option value=""></option>
   
                </select>
            </div>
            

            <div class="d-flex align-items-center justify-content-center vh-20">
                <div class="form-floating mb-3 w-50">
                  <input type="text" class="form-control" id="km" placeholder="nome">
                  <label for="km">Kilometragem (KM): </label>
                </div>
            </div>


            <div class="text-center"><h2 class="display-2"> 
                <input class="btn btn-primary" type="Enviar" value="Enviar">
            </div>

           <div class="container-fluid"></div>
        </form>
    </main>

    <footer>
        <%- include ('footer') %>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>


  <body>
    
  </body>