<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <title>Home</title>
</head>

<body>
    <header>
        <%- include ('navbar') %>
    </header>
    
    <main>
      <div class="text-center"><h1 class="display-2"> 
        <p class="text-center"><div class="badge bg-primary text-wrap" style="width: 15rem;">Trens</div></p>
      </h1></div>
        
     <div class="text-center"><label for="edm" class="form-label">Modelos</label></div>
     <div class="d-flex align-items-center justify-content-center vh-20"> 
        <select class="form-select w-50" name="modelo" id="modelo">
           <option value="modelo1">Modelo 1</option>
            <option value="modelo2">Modelo 2</option>
            <option value="modelo3">Modelo 3</option>
        </select>

      </div>

    <div class="d-flex align-items-center justify-content-center vh-20">
      <div class="form-floating mb-3 w-50">
        <input type="text" class="form-control" id="codigoID" placeholder="1234567890">
        <label for="codigoID">Codigo ID</label>
      </div>
    </div>

    <div class="text-center"><label for="lqp" class="form-label">Linha que Pertence</label></div>
    <div class="d-flex align-items-center justify-content-center vh-20">
        <select class="form-select w-50" name="linha" id="linha">
          <option value="linha1">linha 1</option>
          <option value="linha2">linha 2</option>
          <option value="linha3">linha 3</option>
      </select>
    </div>

    <div class="text-center"><label for="st" class="form-label">Status</label></div>
    <div class="d-flex align-items-center justify-content-center vh-20">
        <select class="form-select w-50" name="status" id="status">
          <option value="ativo">Ativo</option>
          <option value="inativo">Inativo</option>
        </select>
    </div>

    <div class="text-center"><label for="cla" class="form-label">Classificação</label></div>
    <div class="d-flex align-items-center justify-content-center vh-20">
        <select class="form-select w-50" name="classificacao" id="classificacao">
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
    </div>


    <input type="submit" name="Enviar" id="Enviar">



    <div class="container-fluid"></div>
    </main>

    <footer>
        <%- include ('footer') %>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>


  <body>
    
  </body>
